
extends layouts/fullpage

block content

    .projects
        -var projects = utils.sortByDate(data);
        for project, i in projects
            if project.shape === 'circle'
                a(href="#{project.url}" target="_blank")
                    .project.cir(style="background-image: url('#{project.img}')")
                    
            else if project.shape === 'square'
                a(href="#{project.url}" target="_blank")
                    .project.sq(style="background-image: url('#{project.img}')")

            else if project.shape === 'triangle'
                a(href="#{project.url}" target="_blank")
                    .project.tr
                        .one
                            .two(style="background-image: url('#{project.img}')")




